html, body, h1, header, section, article, span, p, input, img
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: rgb(59, 59, 59);
	color: rgb(112, 112, 112);
	border: 2px solid rgb(142, 130, 118);
	border-radius: 10px;
	width: 50em;
}

header
{
	padding: 1em;
	border-bottom: 1px solid rgb(51, 51, 51);
	
	background: -moz-linear-gradient(top, rgba(59,59,59,1) 0%, rgba(63,63,63,1) 32%, rgba(63,63,63,1) 77%, rgba(42,42,42,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,59,59,1)), color-stop(32%,rgba(63,63,63,1)), color-stop(77%,rgba(63,63,63,1)), color-stop(100%,rgba(42,42,42,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(59,59,59,1) 0%,rgba(63,63,63,1) 32%,rgba(63,63,63,1) 77%,rgba(42,42,42,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(59,59,59,1) 0%,rgba(63,63,63,1) 32%,rgba(63,63,63,1) 77%,rgba(42,42,42,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(59,59,59,1) 0%,rgba(63,63,63,1) 32%,rgba(63,63,63,1) 77%,rgba(42,42,42,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(59,59,59,1) 0%,rgba(63,63,63,1) 32%,rgba(63,63,63,1) 77%,rgba(42,42,42,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#2a2a2a',GradientType=0 ); /* IE6-9 */
}

header:after 
{
	content: "";
	display: block;
	clear: both;
	height: 0; 
}

section
{
	padding: 10px;
}

#white
{
	color: white;
}

img
{
	float: left;
	width: 40px;
	height: 40px;
}

label
{
	margin: 1em;
	font-family: Georgia;
	font-size: 1.3em;
	font-weight: bold;
	color: #FFF;
}

input[type="text"],
input[type="email"]
{
	height: 1.7em;
	margin: 1em;
}

input[type="submit"]
{
	background: url("btn.png")  no-repeat;
	color: #FFF;
	width: 56px;
	height: 28px;
	border: none;
}

h1
{
	margin: 0.7em 0 0.7em;
	font-family: Georgia;
	font-weight: normal;
	font-size: 2em;
	color: rgb(253, 212, 33);
}
